.btn {
	color: white;
	padding: 0.5rem 1rem;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
	&__primary {
		background-color: rgb(0, 106, 255);
	}
	&__danger {
		background-color: rgb(194, 68, 68);
	}
	&__secondary {
		background-color: rgb(87, 87, 87);
	}
	&:hover {
		filter: brightness(1.2);
	}
}
